<div class="card mb-3 prx">
  <img class="card-img-top" src="../assets/img/ai.png" alt="Card image cap">
  <div class="card-body text-center">
    <h1 class="card-title"> SiteSport </h1>
    <h3 class="card-text"> Busca, Reserva y Diviertete!!.</h3>
    <h3 class="card-text"> Aplicacion para buscar y reservar servicios en los diferentes Centros Deportivos </h3>
    <p class="card-text"><small class=" btn btn-outline-info active"> <a href="https://sitesport.aitecec.com/">ACCEDER </a></small></p>
  </div>
</div>
<br>
