
<div class="card-group">
  <div class="card text-center" id="cardequipo">
    <div class="container text-center">
      <img id="imgequipo" class="card-img-center" src="../assets/img/equipo/dl.jpg" alt="Card image cap">
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong> Diego López</strong></h4>
      <p class="card-text">
        Desarrollador Web
      </p>
    </div>
    <div class="card-footer mx-auto" id="cardfoot">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <a href="https://www.facebook.com/profile.php?id=100004572199414" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/diego.pll" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter-square"></i></a>
        </span>
      </div>
    </div>
  </div>

  <div class="card text-center" id="cardequipo">
    <div class="container text-center">
      <img id="imgequipo" class="card-img-center" src="../assets/img/equipo/dg.jpg" alt="Card image cap">
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong> Doris Guamán</strong></h4>
      <p class="card-text">
        Desarrollador Web
      </p>
    </div>
    <div class="card-footer mx-auto" id="cardfoot" >
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <a href="https://www.facebook.com/kary.guaman" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/karitodoris11" target="_blank"><i class="fa fa-instagram" ></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter-square "></i></a>
        </span>
      </div>
    </div>
  </div>


  <div class="card text-center" id="cardequipo">
    <div class="container text-center">
      <img id="imgequipo" class="card-img-center" src="../assets/img/equipo/iv.jpg" alt="Card image cap">
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong> Iván Valladarez</strong></h4>
      <p class="card-text">
        <strong>CEO</strong>
      </p>
    </div>
    <div class="card-footer mx-auto" id="cardfoot" >
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <a href="https://www.facebook.com/ivan.valladarez.1" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/ivan_valladarez" target="_blank"><i class="fa fa-instagram" ></i></a>
          <a href="https://twitter.com/ianvalladarez" target="_blank"><i class="fa fa-twitter-square "></i></a>
        </span>
      </div>
    </div>
  </div>


  <div class="card text-center" id="cardequipo">
    <div class="container text-center">
      <img id="imgequipo" class="card-img-center" src="../assets/img/equipo/ja.jpg" alt="Card image cap">
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong> José Aguilar</strong></h4>
      <p class="card-text">
        Desarrollador Móvil
      </p>
    </div>
    <div class="card-footer mx-auto" id="cardfoot" >
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <a href="https://www.facebook.com/jose.aguilar3" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/liftedstorm" target="_blank"><i class="fa fa-instagram" ></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter-square "></i></a>
        </span>
      </div>
    </div>
  </div>

</div>

<br>

<div class="card-group">

  <div class="card text-center" id="cardequipo">
    <div class="container text-center">
      <img id="imgequipo" class="card-img-center" src="../assets/img/equipo/jc.jpg" alt="Card image cap">
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong> Jhon Cueva</strong></h4>
      <p class="card-text">
        Desarrollador Web
      </p>
    </div>
    <div class="card-footer mx-auto" id="cardfoot" >
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <a href="https://www.facebook.com/jhon.a.cueva" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/jhonalejandrocueva" target="_blank"><i class="fa fa-instagram" ></i></a>
          <a href="https://twitter.com/jhon_cueva" target="_blank"><i class="fa fa-twitter-square "></i></a>
        </span>
      </div>
    </div>
  </div>


  <div class="card text-center" id="cardequipo">
    <div class="container text-center">
      <img id="imgequipo" class="card-img-center" src="../assets/img/equipo/jm.jpg" alt="Card image cap">
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong> Jersson Morocho</strong></h4>
      <p class="card-text">
        Seguridad Informática
      </p>
    </div>
    <div class="card-footer mx-auto" id="cardfoot" >
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <a href="https://www.facebook.com/jerssdvd" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/jerssdvd" target="_blank"><i class="fa fa-instagram" ></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter-square "></i></a>
        </span>
      </div>
    </div>
  </div>


  <div class="card text-center" id="cardequipo">
    <div class="container text-center">
      <img id="imgequipo" class="card-img-center" src="../assets/img/equipo/jn.jpg" alt="Card image cap">
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong> Jonathan Neira</strong></h4>
      <p class="card-text">
        Seguridad Informática
      </p>
    </div>
    <div class="card-footer mx-auto" id="cardfoot" >
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <a href="https://www.facebook.com/profile.php?id=100005100360002" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/jeneirab" target="_blank"><i class="fa fa-instagram" ></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter-square "></i></a>
        </span>
      </div>
    </div>
  </div>


  <div class="card text-center" id="cardequipo">
    <div class="container text-center">
      <img id="imgequipo" class="card-img-center" src="../assets/img/equipo/js.jpg" alt="Card image cap">
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong> Johanna Sánchez</strong></h4>
      <p class="card-text">
        Desarrollador Web
      </p>
    </div>
    <div class="card-footer mx-auto" id="cardfoot" >
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <a href="https://www.facebook.com/JoCsV" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/jois_sc" target="_blank"><i class="fa fa-instagram" ></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter-square "></i></a>
        </span>
      </div>
    </div>
  </div>

</div>

<br>

<div class="card-group">


  <div class="card text-center" id="cardequipo">
    <div class="container text-center">
      <img id="imgequipo" class="card-img-center" src="../assets/img/equipo/ms.jpg" alt="Card image cap">
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong> Mario Sánchez</strong></h4>
      <p class="card-text">
        Desarrollador Web
      </p>
    </div>
    <div class="card-footer mx-auto" id="cardfoot" >
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <a href="https://www.facebook.com/fernando.sanchez.90813?ref=br_rs" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/fernandodev93" target="_blank"><i class="fa fa-instagram" ></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter-square "></i></a>
        </span>
      </div>
    </div>
  </div>


  <div class="card text-center" id="cardequipo">
    <div class="container text-center">
      <img id="imgequipo" class="card-img-center" src="../assets/img/equipo/msu.jpg" alt="Card image cap">
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong> Martha Suntaxi</strong></h4>
      <p class="card-text">
        Marketing Digital
      </p>
    </div>
    <div class="card-footer mx-auto" id="cardfoot" >
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <a href="https://www.facebook.com/cristina.suntaxi" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/cristinasuntaxi" target="_blank"><i class="fa fa-instagram" ></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter-square "></i></a>
        </span>
      </div>
    </div>
  </div>


  <div class="card text-center" id="cardequipo">
    <div class="container text-center">
      <img id="imgequipo" class="card-img-center" src="../assets/img/equipo/vj.jpg" alt="Card image cap">
    </div>

    <div class="card-body">
      <h4 class="card-title"><strong> Victor Jumbo</strong></h4>
      <p class="card-text">
        Desarrollador Móvil
      </p>
    </div>
    <div class="card-footer mx-auto" id="cardfoot" >
      <div class="input-group input-group-lg">
        <span class="input-group-addon">
          <a href="https://www.facebook.com/profile.php?id=100008411250163"  target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/vfjumbos"  target="_blank"><i class="fa fa-instagram" ></i></a>
          <a id="contactenos" href="#"  target="_blank"><i class="fa fa-twitter-square "></i></a>
        </span>
      </div>
    </div>
  </div>

</div>
