#imgequipo{
  width: 122px;
  height: 122px;
  border-radius: 50%;
  margin-top: 2%;
}

p{
  margin-left: 2%;
}

i{
  font-size: 35px;
  margin-right:10px;
  color: black;
}

span{
  margin-left: 30%;
}

#cardequipo{
  margin-left: 3%;
  border-radius: 10%;

  margin-bottom: 30px;
}

#cardfoot{
  width: 100%;
  border-radius: 0 0 30px 30px;
}

a{
  text-decoration: none;
  text-decoration-style: none;
  text-decoration-color: none;
}

#cardequipo:hover{
  box-shadow: 4px 4px 6px #999;
}
