<div class="card-group" id="servicios">
  <div class="card" id="cardserv">
    <div class="container text-center" id="img-serv">

      <span class="input-group-addon">
        <i id="ico" class="fa fa-tasks"></i>
      </span>

    </div>
    <div class="card-body">
      <h3 class="card-title text-center font-weight-bold">SOFTWARE</h3>

      <div class="input-group input-group-lg" id="infoservi">
        <span class="input-group-addon">
          <i class="fa fa-phone-square"></i>
        </span>
        <p> Asesoría de Software. </p>
      </div>

      <div class="input-group input-group-lg" id="infoservi">
        <span class="input-group-addon">
          <i class="fa fa-clipboard"></i>
        </span>
        <p> Comercialización de Software. </p>
      </div>

      <div class="input-group input-group-lg" id="infoservi">
        <span class="input-group-addon">
          <i class="fa fa-ticket"></i>
        </span>
        <p> Análisis, Diseño y Mantenimiento de Software. </p>
      </div>

      <div class="input-group input-group-lg" id="infoservi">
        <span class="input-group-addon">
          <i class="fa fa-desktop"></i>
        </span>
        <p> Administracion de Aplicaciones Web y Móvil. </p>
      </div>

    </div>
  </div>
  <div class="card" id="cardserv">
    <div class="container text-center" id="img-serv">

      <span class="input-group-addon">
        <i id="ico" class="fa fa-cogs"></i>
      </span>

    </div>
    <div class="card-body">
      <h3 class="card-title text-center font-weight-bold">HARDWARE</h3>
      <div class="input-group input-group-lg" id="infoservi">
        <span class="input-group-addon">
          <i class="fa fa-medkit"></i>
        </span>
        <p> Mantenimiento Preventivo y Correctivo. </p>
      </div>

      <div class="input-group input-group-lg" id="infoservi">
        <span class="input-group-addon">
          <i class="fa fa-phone"></i>
        </span>
        <p> Soporte Tecnológico. </p>
      </div>

      <div class="input-group input-group-lg" id="infoservi">
        <span class="input-group-addon">
          <i class="fa fa-cog"></i>
        </span>
        <p> Capacitaciones de Mantenimiento en equipos. </p>
      </div>

    </div>
  </div>
  <div class="card" id="cardserv">
    <div class="container text-center" id="img-serv">

      <span class="input-group-addon">
        <i id="ico" class="fa fa-users"></i>
      </span>

    </div>
    <div class="card-body">
      <h3 class="card-title text-center font-weight-bold">CONSULTORÍA INFORMÁTICA</h3>
      <div class="container">

        <div class="input-group input-group-lg" id="infoservi">
          <span class="input-group-addon">
            <i class="fa fa-file-o"></i>
          </span>
          <p> Procesamiento de la Información. </p>
        </div>

        <div class="input-group input-group-lg" id="infoservi">
          <span class="input-group-addon">
            <i class="fa fa-list-alt"></i>
          </span>
          <p> Migración de Datos. </p>
        </div>

        <div class="input-group input-group-lg" id="infoservi">
          <span class="input-group-addon">
            <i class="fa fa-folder-open"></i>
          </span>
          <p> Asesoría y Gestión de SI</p>
        </div>

        <div class="input-group input-group-lg" id="infoservi">
          <span class="input-group-addon">
            <i class="fa fa-bar-chart"></i>
          </span>
          <p> Asesoría en Tecnologías de Información</p>
        </div>

      </div>
    </div>

  </div>

</div>
