<app-navbar>

</app-navbar>


<app-carousel id="home">

</app-carousel>
<br id="servicios">
<br>

<div class="container-fluid" >
  <br>
  <h2>Asesoría Informática y Tecnológica</h2>
  <br>
    <app-servicios>

    </app-servicios>
</div>
<br id="portafolio">
<br >
<div class="container-fluid">
  <br>
  <h2>Proyectos Exitosos</h2>
  <br>
    <app-proyectos>

    </app-proyectos>
</div>

<br id="mision">
<br>
<div class="container-fluid">
  <br>
<h2>Quienes Somos</h2>
<br>
  <app-mision>

  </app-mision>

</div>

<br id="equipo">
<br>

<div class="container-fluid">
  <br>
<h2>Equipo de Trabajo</h2>
<br>
  <app-equipo>

  </app-equipo>
<p ></p>
</div>


<br ><br >

<div class="container-fluid" id="foo">
  <br>
  <h2 id="contac">Contáctenos</h2>
  <br>
  <app-footer>

  </app-footer>

</div>
