<div class="card-group">
  <div class="card" id="cardmision">
    <div class="card-footer">
      <h2 class="text-muted">MISIÓN</h2>

    </div>
    <div class="card-body">
      <br>
      <p class="card-text text-justify">Somos una empresa orientada a dar soluciones tecnológicas, mediante el desarrollo de software, apoyándonos permanentemente en criterios innovadores y tecnologías en evolución. </p>
      <p></p>
    </div>
    <div class="container text-center">
      <img id="imgmision" class="card-img-bottom" src="../assets/img/mision.jpg" alt="Card image cap">
    </div>
    <br>
  </div>

  <div class="card" id="cardmision">
    <div class="card-footer">
      <h2 class="text-muted">VISIÓN</h2>
    </div>
    <div class="card-body">
      <br>
      <p class="card-text text-justify">Proveer a nuestros clientes servicios de la más alta calidad orientados a asegurar la continuidad de sus negocios, permitiéndoles aumentar su rentabilidad a través de la utilización de nuevas tecnologías, de manera tal que nos consideren un socio confiable y sostenible a largo plazo en esta materia.</p>
    </div>
    <div class="container text-center">
      <img id="imgmision" class="card-img-top" src="../assets/img/vision.jpg" alt="Card image cap">
    </div>
    <br>
  </div>
</div>
